@page "/"
@using PozitronDev.BagTrack.Contracts
@using PozitronDev.SharedKernel.Data;
@inject HttpClient Http

<PageTitle>Arrival Bags</PageTitle>

<h1>Arrival Bags</h1>
<p></p>

<EditForm Model="@Model" OnValidSubmit="@SubmitAsync">
    <FluentValidationValidator Validator="_validator" />
    <ValidationSummary />

    <InputDate @bind-Value="Model!.Date"/>
    <InputText @bind-Value="Model!.BagTagId" DisplayName="BagTag Id" placeholder="BagTag Id" />
    <InputText @bind-Value="Model!.Carousel" DisplayName="Carousel" placeholder="Carousel" />
    <InputText @bind-Value="Model!.Flight" DisplayName="Flight" placeholder="Flight" />
    <InputText @bind-Value="Model!.Airline" DisplayName="Airline IATA" placeholder="Airline IATA" />
    <button type="submit" class="btn-primary">Search</button>
    <button class="btn-secondary" @onclick="Clear">Clear</button>
</EditForm>
<p></p>

<table class="table">
    <thead>
        <tr>
            <th>BagTag Id</th>
            <th>Device Id</th>
            <th>Date</th>
            <th>Carousel</th>
            <th>Flight</th>
            <th>Airline IATA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bag in Bags)
        {
            <tr>
                <td>@bag.BagTagId</td>
                <td>@bag.DeviceId</td>
                <td>@bag.Date</td>
                <td>@bag.Carousel</td>
                <td>@bag.Flight</td>
                <td>@bag.Airline</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col">
        <Paging Pagination="Pagination" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>

@code {
    private static BagListRequestValidator _validator = new();

    public List<BagDto> Bags { get; set; } = default!;
    public BagListRequest Model { get; set; } = default!;
    public Pagination Pagination { get; set; } = default!;

    protected override void OnInitialized()
    {
        Clear();
    }

    private async Task SubmitAsync()
    {
        await PopulateBagsAsync(1);
    }

    private void Clear()
    {
        Bags = new();
        Model = new();
        Pagination = new();
        Model.Date = DateOnly.FromDateTime(DateTime.Now.Date);
    }

    private async Task SelectedPage(int page)
    {
        await PopulateBagsAsync(page);
    }

    private async Task PopulateBagsAsync(int page)
    {
        string queryParameters = $"?date={Model.Date}&bagTagId={Model.BagTagId}&carousel={Model.Carousel}&flight={Model.Flight}&airline={Model.Airline}&page={page}";
        var result = await Http.GetFromJsonAsync<PagedResponse<BagDto>>($"bags{queryParameters}");

        if (result is null)
        {
            Clear();
            return;
        }

        Bags = result.Data;
        Pagination = result.Pagination;
    }
}
