@page "/"
@using PozitronDev.BagTrack.Contracts
@using PozitronDev.SharedKernel.Data;
@inject HttpClient Http

<PageTitle>Pozitron BagTrack - Arrival Bags</PageTitle>

<h1>Arrival Bags</h1>
<p></p>

<EditForm Model="@Model" OnValidSubmit="@SubmitAsync">
    <div class="row g-3 align-items-center">
        <FluentValidationValidator Validator="_validator" />
        <ValidationSummary />

        <div class="col-auto">
            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Model!.FromDate" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <InputDate Type="InputDateType.DateTimeLocal" @bind-Value="Model!.ToDate" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <InputText @bind-Value="Model!.BagTagId" DisplayName="BagTag Id" placeholder="BagTag Id" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <InputText @bind-Value="Model!.Carousel" DisplayName="Carousel" placeholder="Carousel" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <InputText @bind-Value="Model!.AirlineIATA" DisplayName="Airline IATA" placeholder="Airline IATA" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <InputText @bind-Value="Model!.Flight" DisplayName="Flight" placeholder="Flight" class="col-auto form-control" />
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" @onclick="Clear">Clear</button>
        </div>
    </div>
</EditForm>
<p></p>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>BagTag Id</th>
            <th>Device Id</th>
            <th>Date</th>
            <th>Carousel</th>
            <th>Airline IATA</th>
            <th>Flight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bag in Bags)
        {
            <tr>
                <td>@bag.BagTagId</td>
                <td>@bag.DeviceId</td>
                <td>@bag.Date.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@bag.Carousel</td>
                <td>@bag.AirlineIATA</td>
                <td>@bag.Flight</td>
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col">
        <Paging Pagination="Pagination" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <p>Total Records: @Pagination.TotalItems</p>
    </div>
</div>

@code {
    private static BagListRequestValidator _validator = new();

    public List<BagDto> Bags { get; set; } = default!;
    public BagListRequest Model { get; set; } = default!;
    public Pagination Pagination { get; set; } = default!;

    protected override void OnInitialized()
    {
        Clear();
    }

    private async Task SubmitAsync()
    {
        await PopulateBagsAsync(1);
    }

    private void Clear()
    {
        Bags = new();
        Model = new();
        Pagination = Pagination.Default;
        Model.FromDate = DateTime.UtcNow.Date;
        Model.ToDate = DateTime.UtcNow.Date.AddDays(1).AddMinutes(-1);
    }

    private async Task SelectedPage(int page)
    {
        await PopulateBagsAsync(page);
    }

    private async Task PopulateBagsAsync(int page)
    {
        string queryParameters = $"?bagTagId={Model.BagTagId}&carousel={Model.Carousel}&flight={Model.Flight}&airlineIATA={Model.AirlineIATA}&page={page}";

        if (Model.FromDate.HasValue)
        {
            queryParameters += $"&fromdate={Model.FromDate.Value.ToString("yyyy-MM-dd HH:mm")}";
        };

        if (Model.ToDate.HasValue)
        {
            var toDate = Model.ToDate.Value.AddMinutes(1);
            queryParameters += $"&todate={toDate.ToString("yyyy-MM-dd HH:mm")}";
        };

        var result = await Http.GetFromJsonAsync<PagedResponse<BagDto>>($"api/bags{queryParameters}");

        if (result is null)
        {
            Clear();
            return;
        }

        Bags = result.Data;
        Pagination = result.Pagination;
    }
}
